<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zn.google_android_dev_exam_practice">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EditTextWithClearActivity" />
        <activity android:name=".CustomFanControllerActivity" />
        <activity android:name=".TaskListActivity" />
        <activity android:name=".AddTaskActivity" />

        <service
            android:name=".service.NotificationJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".service.AsyncTaskJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zn.google_android_dev_exam_practice.MainActivity" />
        </activity>
    </application>

</manifest>